@model Vehiculo
@{
    ViewBag.Title = "Eliminar";
}

<h2>@ViewBag.Vehiculo.Placa</h2>

<table>
    <thead>
        <tr>
            <th>Placa</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Color</th>
            <th>Precio Renta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.Vehiculo.Placa</td>
            <td>@ViewBag.Vehiculo.Marca</td>
            <td>@ViewBag.Vehiculo.Modelo</td>
            <td>@ViewBag.Vehiculo.Anio</td>
            <td>@ViewBag.Vehiculo.Color</td>
            <td>@ViewBag.Vehiculo.PrecioRenta</td>
        </tr>
    </tbody>
</table>

@using (Html.BeginForm("DeleteConfirmed", "Vehiculo"))
{
    <input name="Placa" type="hidden" value="@ViewBag.Vehiculo.Placa" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Eliminar" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a lista", "Index")
</div>